@import 'bootstrap/dist/css/bootstrap.min.css';
/*font-family: 'Eczar', serif;*/
/*font-family: 'Roboto Condensed', sans-serif;*/
* {
    background-color: #2A2D2E !important;
    color: #FCFDFC !important;
    padding: 0.2rem;
    font-family: 'Roboto Condensed', sans-serif !important;
}

.centerify {
    margin: 0 auto;
}

.welcome {
    display: inline-block;
}

.no-pad {
    padding: 0px !important;
}

.margin-top {
    margin-top: 16px !important;
    padding-bottom: 0px !important;
    padding-left: 4px;
    vertical-align: middle;
}

.margin-top-super {
    margin-top: 32px !important;
    padding-bottom: 0px !important;
    padding-left: 4px;
    vertical-align: middle;
}

.eczarified {
    font-family: 'Eczar', serif !important;
}

.robo-condensed {
    font-family: 'Roboto Condensed', sans-serif !important;
}

.far-end {
    margin-left: 300%;
}

.table-item {
    margin-right:7.7rem;
}

.quantity-selector {
    height:42px;
    width: 66px;
    float: right;
    margin-top: 5px;
}

.metallica-border-left {
    border-color: #1EB980 !important;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 6px !important;
    border-style: solid !important;
    padding-left: 8px;
    margin-bottom: 8px;
}

.metallica-border-left-no-pad {
    border-color: #1EB980 !important;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 6px !important;
    border-style: solid !important;
    margin-left: 24px;
    margin-bottom: 8px;
}

.metallica-border-bot {
    border-color: #045D56 !important;
    border-left-width: 0px !important;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 5% !important;
    border-style: solid !important;
}

.metallica-border-sides {
    border-color: #045D56 !important;
    border-left-width: 3px !important;
    border-right-width: 3px !important;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-style: solid !important;
    margin: 5px;
}

.metallica-border-all {
    border-color: #045D56 !important;
    border-width: 2px !important;
    border-style: solid !important;
    padding: 5px;
}

.metallica-border-verticals {
    border-color: #045D56 !important;
    border-top-width: 2px !important;
    border-bottom-width: 2px !important;
    border-left-width: 0px !important;
    border-right-width: 0px !important;
    border-style: solid !important;
    padding: 5px;
}

.metallica-component {
    border-color: #1EB980 !important;
    border-width: 3px !important;
    border-style: solid !important;
    margin: 5px;
    float: right;
}

.metallica-component:hover {
    background-color: #1EB980 !important;
    transition: 0.4s;
}

.accent1 {
    border-color: #FF6859 !important;
}

.accent2 {
    border-color: #FFCF44 !important;
}

.accent3 {
    border-color: #B15DFF !important;
}

.accent4 {
    border-color: #72DEFF !important;
}

.accent5 {
    border-color: #FFA07A !important;
}